In [66]:
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import re
from sklearn import preprocessing

%matplotlib inline


# Helper to print with prettier colors
class c:
    PURPLE = '\033[95m'
    BLUE = '\033[94m'
    CYAN = '\033[96m'
    GREEN = '\033[92m'
    WARNING = '\033[93m'
    FAIL = '\033[91m'
    END = '\033[0m'
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
    
print(f"Printing {c.PURPLE}with {c.GREEN}pretty {c.FAIL}colors{c.END}{c.BOLD}!{c.END}")

# Loading the data
df = pd.read_csv('./train_dataset.csv/train_dataset.csv')
#df = sns.load_dataset("./train_dataset.csv/train_dataset")
columns_old = df.columns
columns_new = []

for i, col in enumerate(columns_old):
    col = re.sub('[(].+[)]', '', col)
    col = col.lower()
    col = col.strip()
    col = re.sub('\s', '_', col)
    columns_new.append(col)

df.columns = columns_new
#small_df = df.sample(frac=0.1)
df.head()
#
#smaller = df.drop(["0", "1", "2", "3", "5", "6", "7", "9", "10", "12", "13"], axis=1)
#
#columns_new_new = []
#
#for c in smaller.columns:
#    for (i, col) in enumerate(columns_old):
#        if(int(c) == i):
#            col = re.sub('[(].+[)]', '', col)
#            col = col.lower()
#            col = col.strip()
#            col = re.sub('\s', '_', col)
#            columns_new_new.append(col)
#
#smaller.columns = columns_new_new
#print(smaller.head())
#
###rnd = df.sample(frac=0.001)
#sns.heatmap(smaller.corr())

Printing with pretty colors!

,elevation,aspect,slope,horizontal_distance_to_hydrology,vertical_distance_to_hydrology,horizontal_distance_to_roadways,hillshade_9am,hillshade_noon,hillshade_3pm,horizontal_distance_to_fire_points,...,7756,7757,7790,8703,8707,8708,8771,8772,8776,forest_cover_type_classes
0,2843,311,19,30,10,2850,167,224,196,2147,...,0,0,0,0,0,0,0,0,0,2
1,3190,358,13,552,57,4287,199,215,153,3355,...,0,0,0,0,0,0,0,0,0,1
2,3288,296,16,67,16,3050,172,233,200,713,...,0,0,0,0,0,0,0,0,0,1
3,3382,8,7,272,19,659,212,227,152,832,...,0,0,0,0,0,0,0,0,1,2
4,3382,258,8,350,47,3561,201,245,182,2305,...,0,0,0,0,0,0,1,0,0,7

In [67]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import accuracy_score
from sklearn import ensemble


y = df["forest_cover_type_classes"]
X = df.loc[:, df.columns != "forest_cover_type_classes"]
#kNN = neighbors.KNeighborsClassifier()
#kNN_score = cross_val_score(kNN, X, y, cv=10)

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.2)
clf = ensemble.RandomForestClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print(acc)
feature_scores = pd.Series(clf.feature_importances_, index = X_train.columns).sort_values(ascending = False)
#print(feature_scores["elevation"])
#for feature in feature_scores:
#    print(feature)

drop_list = []

for col in X_train.columns:
    if feature_scores[col] < 0.005:
        drop_list.append(col)

print(drop_list)

X = X.drop(drop_list, axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.2)
clf = ensemble.RandomForestClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print(acc)
#kNN = neighbors.KNeighborsClassifier()
#kNN_score = cross_val_score(kNN, X, y, cv=10)

0.9147961510797677
['neota_wilderness_area', '2702', '2704', '2706', '2717', '3501', '3502', '4201', '4704', '4758', '5101', '5151', '6101', '6102', '6731', '7101', '7102', '7103', '7700', '7701', '7702', '7709', '7710', '7745', '7746', '7755', '7757', '7790', '8703', '8707', '8708']
0.9113752784941144